{{ define "main" }}

<h2>{{.Title}}</h2>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<dl>
  <dt>
  {{ with .PrevInSection }}
  <a href="{{ .RelPermalink }}" title="{{ .Title }}"><</a></strong> | 
  {{ end }}
  {{ .Date.Format "Monday January 02, 2006" }}
  {{ with .NextInSection }}
  | <a href="{{ .RelPermalink }}" title="{{ .Title }}">></a></strong>
  {{ end }}
  </dt>
  <dt>Day Start: {{ .Params.dayStart }}</dt>
  <dt>Day Destination: {{ .Params.dayDestination }}</dt>
  <dt>Day Mileage: {{ .Params.todayMiles }}</dt>
  <dt>Trip Mileage: {{ .Params.tripMiles }}</dt>
</dl>

{{ if .Params.toc }}{{ .TableOfContents }}{{ end }}

{{ .Content }}

{{ end }}
