{{ define "title" }}Strider 1977{{ end }}
{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "my-site",
  "url": "https://my.site",
}
</script>
{{ end }}

{{ define "main" }}
<h1>Strider 1977 Trail Journal</h1>

<blockquote>
  "From the border with Mexico across the entire length of California; running up the Coast Ranges, through the San Bernardino and San Gabriel Mountains, across the Mojave Desert, running up the full length of the magnificent Sierra Nevada Mountains, and into volcano country hopping from volcano to volcano, Lassen to Shasta into Oregon and McLaughlin to Thielsen to Crater Lake to the Three Sisters to Three Fingered Jack to Mt. Jefferson to Mt. Hood into Washington across the Columbia River to Mt. Adams to Mt. Rainier and into the North Cascades and Mt. Baker and then that wilderness that borders with British Columbia and the border with Canada."
</blockquote>

<p>Journal Entries: {{ len (where .Site.RegularPages "Section" "j") }}</p>

<div>
  Journals:
  <ul>
  {{ range (where .Site.RegularPages.ByDate "Section" "j") }}
    <li><a href="{{ .Permalink }}">{{ .Date.Format "Monday, January 02, 2006" }} - {{ .Title }}</a></li>
  {{ end }}
  </ul>
</div>
<p>
</p>
{{ end }}
